seta_baixo RCDATA "src\\Assets\\seta-triangular-apontando-para-baixo.png"
dashboard RCDATA "src\\Assets\\banco.png"
cadastros RCDATA "src\\Assets\\cadastro.png"
pessoas RCDATA "src\\Assets\\grupo-de-usuarios.png"
darth RCDATA "src\\Assets\\perfil.jpg"
atualizar RCDATA "src\\Assets\\atualizar.png"
globo RCDATA "src\\Assets\\globo.png"
mais RCDATA "src\\Assets\\mais.png"
tabela RCDATA "src\\Assets\\table.png"
PngImage_2 RCDATA "src\\Assets\\Usuario.png"
usuario RCDATA "src\\Assets\\Usuario1.png"
Registados RCDATA "src\\Assets\\registered.png"
bloquear RCDATA "src\\Assets\\key (1).png"
cancelar RCDATA "src\\Assets\\close.png"
editar RCDATA "src\\Assets\\edit.png"
ndifa RCDATA "src\\Assets\\Ndifa.png"
home RCDATA "C:\\Users\\PC\\OneDrive\\Pictures\\Imagens da Câmara\\Imagem\\home.png"
setacima RCDATA "src\\Assets\\arrow-up.png"
setabaixo RCDATA "src\\Assets\\down-filled-triangular-arrow (1).png"
